<div class="app-wrapper">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="menu-name">Cats Overload Angular 😸</h1>
  </mat-toolbar>
  <mat-sidenav-container class="side-container" autosize>
    <mat-sidenav
      #sidenav
      class="sidenav"
      mode="side"
      opened="true"
      (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()"
    >
      <mat-nav-list>
        <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing">Breeds</span>
          <mat-icon mat-list-icon>home</mat-icon>
          <mat-icon
            class="menu-button"
            [ngClass]="{ rotated: showSubmenu }"
            *ngIf="isExpanded || isShowing"
            >expand_more</mat-icon
          >
        </mat-list-item>
        <div
          class="submenu"
          [ngClass]="{ expanded: showSubmenu }"
          *ngIf="isShowing || isExpanded"
        >
          <a
            mat-list-item
            (click)="getBreedInfo(breed)"
            *ngFor="let breed of breeds"
            >{{ breed.name }}</a
          >
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
