mat-card {
  height: 100%;
}

.login-button {
  height: 30px;
  margin-left: 15px;
}

.login-wrapper {
  background-image: url("../../assets/cat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

mat-card {
  background-color: rgba(255, 255, 255, 0.66);
}
