<div class="login-wrapper">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <h1>Welcome to Cats Overload 😸</h1>
        <h2>Log In</h2>
        <mat-error *ngIf="error">
          {{ error }}
        </mat-error>
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required
          />
          <mat-error>Please provide a valid email address</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <mat-error>Please provide a valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-button">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
