<mat-card class="card" *ngIf="breedDetails; else catNotFound">
  <ng-container *ngIf="!isFetching; else isFetcing">
    <mat-card-header>
      <mat-card-title>{{ breedDetails.name }}</mat-card-title>
      <mat-card-subtitle>Cat Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="breedDetails.url" class="header-image" />
    <mat-card-content>
      <h2>Description</h2>
      <p>
        {{ breedDetails.description }}
      </p>
      <h2>Child Friendly Score</h2>
      <p>
        {{ breedDetails.child_friendly }}
      </p>
      <h2>VCA Hospitals URL</h2>
      <a
        [href]="breedDetails.vcahospitals_url"
        target="_blank"
        *ngIf="breedDetails.vcahospitals_url"
      >
        {{ breedDetails.vcahospitals_url }}
      </a>
      <p *ngIf="!breedDetails.vcahospitals_url">
        VCA Hospitals URL not available 😿
      </p>
      <h2>Wikipedia URL</h2>
      <a [href]="breedDetails.wikipedia_url" target="_blank">
        {{ breedDetails.wikipedia_url }}
      </a>
    </mat-card-content>
  </ng-container>
  <ng-template #isFetcing>
    <h1>Fetching new breed details 😸</h1>
  </ng-template>
</mat-card>
<ng-template #catNotFound> <h1>Cat not found 😿</h1> </ng-template>
